  <div class="animation-fadeIn">
    <div class="login-block">
        <div>
          <div class="well">
            <span class="btn btn-block btn-info" ng-click="loginOauth('facebook')"><i class="fa fa-facebook"></i> 페이스북으로 로그인</span>
              <span style="color:gray;font-size:10px;">OR</span>
            <form class="form" name="loginForm" ng-submit="login(loginForm)" novalidate>
                <input type="text" name="email" placeholder="email" class="form-control" ng-model="loginUser.email">
                <input type="password" name="password" placeholder="password" class="form-control" ng-model="loginUser.password">
                <button class="btn btn-success btn-block btn-login" type="submit">
                 로그인
                </button>
              <div class="form-group has-error">
                <p class="help-block" ng-show="loginForm.email.$error.required && loginForm.password.$error.required && loginSubmitted">
                   Please enter your email and password.
                </p>
                <p class="help-block">{{ loginErrors.other }}</p>
              </div>
            </form>
          </div>
          <hr>
        </div>
    </div>

    <div class="login-block">
      <div class="well">
        <span style="color:gray;font-size:14px;">도래솔에 처음이세요?</span>
        <form class="form" name="signupForm" ng-submit="signup(signupForm)" novalidate>
          <div class="form-group" ng-class="{ 'has-success': signupForm.email.$valid && signupSubmitted,
                                              'has-error': signupForm.email.$invalid && signupSubmitted }">
            <input type="email" name="email" placeholder="email을 입력하세요" class="form-control" ng-model="signupUser.email"
                   required
                   firebase-error/>
            <p class="help-block" ng-show="signupForm.email.$error.email && signupSubmitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="signupForm.email.$error.required && signupSubmitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="signupForm.email.$error.firebase">
              {{ singupErrors.email }}
            </p>
          </div>
          <div ng-class="{ 'has-success': signupForm.password.$valid && signupSubmitted,
                                              'has-error': signupForm.password.$invalid && signupSubmitted }">
            <input type="password" placeholder="password" name="password" class="form-control" ng-model="signupUser.password"
                   ng-minlength="3"
                   required
                   firebase-error/>
            <p class="help-block"
               ng-show="(signupForm.password.$error.minlength || signupForm.password.$error.required) && signupSubmitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="signupForm.password.$error.mongoose">
              {{ singupErrors.password }}
            </p>
          </div>
            <button class="btn btn-success btn-block btn-login" type="submit">
              가입하기
            </button>
        </form>
      </div>
    </div>
</div>
