 <toaster-container toaster-options="
    {
      'close-button': false,
      'debug': false,
      'newest-on-top': false,
      'progress-bar': false,
      'position-class': 'toast-bottom-center',
      'prevent-duplicates': false,
      'onclick': null,
      'show-duration': '300',
      'hide-duration': '2000',
      'time-out': '2000',
      'extended-time-out': '2000',
      'show-easing': 'swing',
      'hide-easing': 'linear',
      'show-method': 'fadeIn',
      'hide-method': 'fadeOut'
    }">

</toaster-container>
<header ng-controller="NavbarCtrl" ng-class="{'header-scroll':shrink_header}">
  <div class="navbar-container">
    <!-- Site Logo -->
    <a ui-sref="main" class="site-logo">
      <img id="logo_image" src="assets/images/green_icon.png"></img> Doresol
      <!--<i class="gi gi-flash"></i> <strong>Pro</strong>UI-->
    </a>
    <!-- &nbsp;<span class="label label-success">Beta</span> -->
    <!-- Site Logo -->

    <nav>
      <!-- Toggles menu on small screens -->
      <a class="btn btn-default site-menu-toggle visible-xs visible-sm" ng-click="toggle()">
          <i class="fa fa-bars"></i>
      </a>
      <!-- END Menu Toggle -->
      <ul class="site-nav" ng-class="{'site-nav-visible' : toggleMenu}">
        <!-- Toggles menu on small screens -->
        <li class="visible-xs visible-sm">
            <a class="site-menu-toggle text-center" ng-click="untoggle()">
                <i class="fa fa-times"></i>
            </a>
        </li>
        <!-- END Menu Toggle -->
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="currentUser" ng-class="{active: isActive('/memorials')}"><a href="/memorials">메모리얼</a></li>

        <!-- <li ng-class="{active: isActive('/agency')}"><a href="/agency">제작대행</a></li> -->

        <li ng-class="{active: isActive('/customercare')}"><a href="/customercare">고객센터</a></li>

        <li ng-show="currentUser" class="dropdown open">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img ng-src="{{currentUser.profile.file.url}}" alt="avatar" style="width:32px;height:32px;" class="img-circle"> <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
              <li class="dropdown-header text-center">{{currentUser.profile.name}}</li>
              <li>
                  <a href="/settings">
                      <i class="fa fa-cog pull-right"></i>
                      설정
                  </a>
                  <button type="button" class="btn btn-block btn-danger" ng-click="logout()">로그아웃</button>
              </li>
          </ul>
      </li>
        <!-- <li ng-show="currentUser" ng-class="{active: isActive('/setting')}"><a href="/setting">Setting</a></li> -->
        <!-- <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li> -->
        <!-- <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li> -->
      </ul>
    </nav>
  </div>
</header> 