
<div>
  <p></p>
  <div class="block-section">
    <div class="block-title">
        <h2><strong>사전 장례 의향서</strong></h2>
    </div>
    <div class="well well-lg"><strong>나는 사망진단이 내려진 후 나를 위한 여러 장례의식과 절차가 내가 바라는 형식대로 치러지기를 원해 나의 뜻을 알리고자 이 사전장례의향서를 작성한다. <br> 나를 위한 여러 장례의식과 절차는 다음에 표시한대로 해주기 바란다.</strong>
    </div>

  </div>
   
  <form name="form" ng-submit="updateForm(form)" novalidate>
      <div class="divider"/>
        <div class="row">
          <div class="col-sm-2">
            <strong>나의 부고 사실을 </strong>
          </div>
          <div class="list-group col-sm-4">
            <span class="list-group-item" ng-click="changeItem('notice', 1)" ng-class="{ active: memorial.letter_of_intent.funeral.notice == 1}">
              <p class="list-group-item-text">널리 알리기 바란다</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('notice', 2)" ng-class="{active: memorial.letter_of_intent.funeral.notice == 2}">
              <p class="list-group-item-text">알려야 할 사람에게만 알리기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('notice', 3)" ng-class="{active: memorial.letter_of_intent.funeral.notice == 3}">
              <p class="list-group-item-text">장례식을 치르고 난 후에 알리기 바란다.</p>
            </span>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-2">
            <strong>나의 장례식은 </strong>
          </div>
          <div class="list-group col-sm-4">
            <span class="list-group-item" ng-click="changeItem('guide', 1)" ng-class="{ active: memorial.letter_of_intent.funeral.guide == 1}">
              <p class="list-group-item-text">우리나라 장례문화를 바르게 이해하고 전통문화를 계승하는 차원에서 해주기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('guide', 2)" ng-class="{active: memorial.letter_of_intent.funeral.guide == 2}">
              <p class="list-group-item-text">가급적 간소하게 치르기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('guide', 3)" ng-class="{active: memorial.letter_of_intent.funeral.guide == 3}">
              <p class="list-group-item-text">가족과 친지들만이 모여 치르기 바란다.</p>
            </span>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-2">
            <strong>장례 형식은</strong>
          </div>
          <div class="list-group col-sm-4">
            <span class="list-group-item" ng-click="changeItem('religion', 1)" ng-class="{ active: memorial.letter_of_intent.funeral.religion == 1}">
              <p class="list-group-item-text">전통(유교)식으로</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('religion', 2)" ng-class="{active: memorial.letter_of_intent.funeral.religion == 2}">
              <p class="list-group-item-text">불교식으로</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('religion', 3)" ng-class="{active: memorial.letter_of_intent.funeral.religion == 3}">
              <p class="list-group-item-text">기독교식으로</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('religion', 4)" ng-class="{active: memorial.letter_of_intent.funeral.religion == 4}">
              <p class="list-group-item-text">천주교식으로</p>
            </span>            
            <span class="list-group-item" ng-click="changeItem('religion', 5)" ng-class="{active: memorial.letter_of_intent.funeral.religion == 5}">
              <p class="list-group-item-text">기타(지정)</p>
            </span>            
          </div>
        </div><!-- /.row -->
      
        <div class="row">
          <div class="col-sm-2">
            <strong>장례 일수는</strong>
          </div>
          <div class="list-group col-sm-4">
            <span class="list-group-item" ng-click="changeItem('duration', 1)" ng-class="{ active: memorial.letter_of_intent.funeral.duration == 1}">
              <p class="list-group-item-text">가급적 3일 또는 5일장을 지켜주기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('duration', 2)" ng-class="{active: memorial.letter_of_intent.funeral.duration == 2}">
              <p class="list-group-item-text">날수(기간)에 구애 받지 말고 형편대로 해주기 바란다.</p>
            </span>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-2">
            <strong>부의금 및 조화</strong>
          </div>
          <div class="list-group col-sm-4">
            <span class="list-group-item" ng-click="changeItem('donation', 1)" ng-class="{ active: memorial.letter_of_intent.funeral.donation == 1}">
              <p class="list-group-item-text">관례에 따라 하기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('donation', 2)" ng-class="{active: memorial.letter_of_intent.funeral.donation == 2}">
              <p class="list-group-item-text">가급적 제한하기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('donation', 3)" ng-class="{active: memorial.letter_of_intent.funeral.donation == 3}">
              <p class="list-group-item-text">일체 받지 않기 바란다.</p>
            </span>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-2">
            <strong>음식 대접</strong>
          </div>
          <div class="list-group col-sm-4">
            <span class="list-group-item" ng-click="changeItem('food', 1)" ng-class="{ active: memorial.letter_of_intent.funeral.food == 1}">
              <p class="list-group-item-text">잘 대접해주기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('food', 2)" ng-class="{active: memorial.letter_of_intent.funeral.food == 2}">
              <p class="list-group-item-text">간단한 다과를 정성스럽게 대접해주기 바란다.</p>
            </span>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-2">
            <strong>시신 처리</strong>
          </div>
          <div class="list-group col-sm-4">
            <span class="list-group-item" ng-click="changeItem('body', 1)" ng-class="{ active: memorial.letter_of_intent.funeral.body == 1}">
              <p class="list-group-item-text">내가 이미 약정한 대로 의학적 연구 및 조직 활용 목적으로 기증하기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('body', 2)" ng-class="{active: memorial.letter_of_intent.funeral.body == 2}">
              <p class="list-group-item-text">화장해주기 바란다.</p>
            </span>
            <span class="list-group-item" ng-click="changeItem('body', 3)" ng-class="{active: memorial.letter_of_intent.funeral.body == 3}">
              <p class="list-group-item-text">매장해주기 바란다.</p>
            </span>
          </div>
        </div><!-- /.row -->

    <div class="col-md-12">

      <button type="submit" class="btn btn-lg btn-success" ng-disabled="memorialForm.$invalid">저장</button>     
      <br/>
    </div>
  </form>
</div>
