<div ng-include="'app/main/main_mobile.html'"></div>

<div ng-if="!isMobile">
  <div ng-include="'components/navbar/navbar.html'"></div>
      <!-- <video id="intro_video" preload="auto" autoplay="true" loop="loop" muted="true">
         <source type="video/mp4" src="https://s3-ap-northeast-1.amazonaws.com/doresolvideo/intro_video_high.mp4">
         <source type="video/ogg" src="https://s3-ap-northeast-1.amazonaws.com/doresolvideo/intro_video_1.ogg">
            Sorry, your browser does not support HTML5 video.
      </video> -->
	<iframe ng-if="!subDomain" src="//player.vimeo.com/video/105320016?title=0&byline=0&portrait=0&api=1&loop=true&player_id=intro" width="100%" height="700px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <div id="intro_create_overlay" ng-if="!subDomain" >
        <div class="col-sm-12" ng-if="isLoggedIn">
          <h1 class="intro_create_title">추억, 사랑, 기억</h1>
          <h2 class="intro_create_sub_title">Tidely는 <br/> 소중한 사람들에게 이별 전에 추억을 선물할 수 있는 <u><strong>온라인 엔딩 노트</strong></u>  서비스입니다.</h2>
          <br><br>
          <button ng-if="!subDomain" type="button" class="btn btn-lg btn-success" ui-sref="memorial_create"><h4><img ng-src="/assets/images/doresol_logo_lightgreen.png" class="logo-image">&nbsp;Ending Note 생성하러 가기</h4></button>
        </div>
        <br><br>
        <div class="col-sm-9" ng-if="waitForLogging && !isLoggedIn">
          <h1 class="intro_create_title">추억, 사랑, 기억</h1>
          <h2 class="intro_create_sub_title">Tidely는 <br/> 소중한 사람들에게 이별 전에 추억을 선물할 수 있는 <u><strong>온라인 Ending Note</strong></u> 서비스입니다.</h2>
        </div>
        <div class="col-sm-3" ng-if="waitForLogging && !isLoggedIn">
          <div ng-show="waitForLogging && !isLoggedIn" class="login-block">
            <div>
              <div class="well">
                <span class="btn btn-block btn-info" ng-click="loginOauth('facebook', true)"><i class="fa fa-facebook"></i> 페이스북으로 로그인</span>
                  <span style="color:gray;font-size:10px;">OR</span>
                <form class="form" name="loginForm" ng-submit="login(loginForm, true)" novalidate>
                    <input type="text" name="email" placeholder="email" class="form-control" ng-model="loginUser.email">
                    <input type="password" name="password" placeholder="password" class="form-control" ng-model="loginUser.password">
                    <button class="btn btn-success btn-block btn-login" type="submit">
                     로그인
                    </button>
                  <div class="form-group has-error">
                    <p class="help-block" ng-show="loginForm.email.$error.required && loginForm.password.$error.required && loginSubmitted">
                       Please enter your email and password.
                    </p>
                    <p class="help-block">{{ loginErrors.other }}</p>
                  </div>
                </form>
              </div>
              <hr>
              
              <div class="well">
                <span style="color:gray;font-size:14px;">Tidely에 처음이세요?</span>
                <form class="form" name="signupForm" ng-submit="signup(signupForm, true)" novalidate>
                  <div class="form-group" ng-class="{ 'has-success': signupForm.email.$valid && signupSubmitted,
                                                      'has-error': signupForm.email.$invalid && signupSubmitted }">
                    <input type="email" name="email" placeholder="email을 입력하세요" class="form-control" ng-model="signupUser.email"
                           required
                           firebase-error/>
                    <p class="help-block" ng-show="signupForm.email.$error.email && signupSubmitted">
                      Doesn't look like a valid email.
                    </p>
                    <p class="help-block" ng-show="signupForm.email.$error.required && signupSubmitted">
                      What's your email address?
                    </p>
                    <p class="help-block" ng-show="signupForm.email.$error.firebase">
                      {{ singupErrors.email }}
                    </p>
                  </div>
                  <div ng-class="{ 'has-success': signupForm.password.$valid && signupSubmitted,
                                                      'has-error': signupForm.password.$invalid && signupSubmitted }">
                    <input type="password" placeholder="password" name="password" class="form-control" ng-model="signupUser.password"
                           ng-minlength="3"
                           required
                           firebase-error/>
                    <p class="help-block"
                       ng-show="(signupForm.password.$error.minlength || signupForm.password.$error.required) && signupSubmitted">
                      Password must be at least 3 characters.
                    </p>
                    <p class="help-block" ng-show="signupForm.password.$error.mongoose">
                      {{ singupErrors.password }}
                    </p>
                  </div>
                    <button class="btn btn-success btn-block btn-login" type="submit">
                      가입하기
                    </button>
                </form>
              </div>

            </div>
        </div>
      </div>

  </div>
  
  <br/><br/>


  <!-- recent memorials -->
  <div class="container">
    <div class="block-section">
        <div class="block-title">
            <h2><strong>생성된 Ending Note </strong></h2>
        </div>
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search.." ng-model="recent.search">
          </div>
        </div>
        <br/>
        <div masonry item-selector=".brick-memorials" preserve-order>
          <div masonry-brick class="brick-memorials col-md-3 col-sm-6 col-xs-12" ng-repeat="(key, memorial) in recentMemorials | filter:{ name: recent.search }">
            <div class="brick-memorial-wrapper">
              <!-- <div class="ribbon-wrapper"><div class="ribbon-green">NEWS</div></div> -->
              <div class="memorial-img">
                <div ng-if="user">
                  <a ui-sref="memorial.storymap({id:memorial.$id})"><img ng-src="{{memorial.file.url}}" class="img-responsive"/>
                    <div class="overlay">
                       <i class="fa fa-5x fa-play"></i>
                    </div>
                  </a>
                </div>
                 <div ng-if="!user">
                  <!-- <span ng-click="alertLogin()"><img ng-src="{{memorial.file.url}}" class="img-responsive"/> -->
                    <a ui-sref="memorial.storymap({id:memorial.$id})"><img ng-src="{{memorial.file.url}}" class="img-responsive"/>
                    <div class="overlay">
                       <i class="fa fa-5x fa-play"></i>
                    </div>
                  </span>
                </div>
                <!-- <button ng-if="memorial.public" class="btn btn-xs btn-info" tooltip-placement="top" tooltip="공개"><i class="fa fa-unlock"></i></button>
                <button ng-if="!memorial.public" class="btn btn-xs btn-danger" tooltip-placement="top" tooltip="비공개"><i class="fa fa-lock"></i></button> -->
                <span class="memorial-header">
                  <span class="btn-public">
                    <i ng-if="memorial.public" class="fa fa-2x fa-unlock" tooltip-placement="top" tooltip="공개"></i>
                    <i ng-if="!memorial.public" class="fa fa-2x fa-lock" tooltip-placement="top" tooltip="비공개"></i>
                  </span>
                  <span class="btn-owner">
                    <i ng-if="memorial.ref_user == user.uid" class="fa fa-2x fa-heart" tooltip-placement="top" tooltip="Owner"></i>
                    <i ng-if="memorial.ref_user != user.uid" class="fa fa-2x fa-star" tooltip-placement="top" tooltip="Member"></i>
                  </span>
                </span>
              </div>
              <div class="row text-center">
                <h3><strong>{{memorial.name}}</strong></h3>
                <!-- <span ng-if="memorial.ref_user == user.uid"><i class="fa fa-heart fa-2x text-danger" tooltip-placement="left" tooltip="Owner"></i></span>
                <span ng-if="memorial.ref_user != user.uid" style="color:rgb(255, 215, 0);"><i class="fa fa-2x fa-star" tooltip-placement="left" tooltip="Member"></i></span> -->
              </div>
              
              <div class="row" ng-if="subDomain === 'skycastle'">
                  <div class="col-xs-12">
                    <img ng-src="/assets/images/skycastle.png" class="img-responsive">
                  </div>
              </div>
              <div class="row" ng-if="subDomain === 'seohopark'">
                  <div class="col-xs-12">
                    <img ng-src="/assets/images/seohopark_banner.png" class="img-responsive">
                  </div>
              </div>


              <div class="row text-center">
                  <div class="col-xs-4">
                      <h3 class="widget-content-light">
                          <div ng-if="user">
                            <a ui-sref="memorial.storymap({id:memorial.$id})"><strong>{{memorial.count_timeline}}</strong><br></a>
                          </div>
                          <div ng-if="!user">
                            <a ng-click="alertLogin()"><strong>{{memorial.count_timeline}}</strong><br></a>
                          </div>
                          <small>이야기</small>
                      </h3>
                  </div>
                  <div class="col-xs-4">
                      <h3 class="widget-content-light">
                          <div ng-if="user">
                            <a ui-sref="memorial.storyline({id:memorial.$id})"><strong>{{memorial.count_storyline}}</strong><br></a>
                          </div>
                          <div ng-if="!user">
                            <a ng-click="alertLogin()"><strong>{{memorial.count_storyline}}</strong><br></a>
                          </div>
                          <small>방명록</small>
                      </h3>
                  </div>
                  <div class="col-xs-4">
                      <h3 class="widget-content-light">
                          <div ng-if="user">
                            <a ui-sref="memorial.member({id:memorial.$id})"><strong>{{memorial.count_member}}</strong><br></a>
                          </div>
                          <div ng-if="!user">
                            <a ng-click="alertLogin()"><strong>{{memorial.count_member}}</strong><br></a>
                          </div>
                          <small>멤버</small>
                      </h3>
                  </div>
              </div>
            </div>​
          </div>
        </div>
        <br/>
      </div>
  </div>
  
  <div class="row text-center" ng-if="!subDomain">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <button type="button" class="btn btn-lg btn-success" ui-sref="memorial_create"><h4><img ng-src="/assets/images/doresol_logo_lightgreen.png" class="logo-image">&nbsp;Ending Note 생성하러 가기</h4></button>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <br>

  <br/>
  <br/>

  <div ng-include="'components/footer/footer.html'"></div>
</div>

