<div ng-if="isMobile">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="alert alert-info alert-dismissable" style="padding-top:60px;">
    <h4><i class="fa fa-info-circle"></i> Info</h4> 모바일 웹에서는 "엔딩 노트 생성"과 같은 일부 기능을 지원하지 않습니다. 더 많은 기능을 사용하길 원하시는 분은 PC로 접속해 주시길 바랍니다.
  </div>
  <div id="intro_create_overlay_mobile">
    <div class="col-sm-12">
      <h1 class="intro_create_title">추억, 사랑, 기억</h1>
      <h2 class="intro_create_sub_title">Tidely는 <br/> 소중한 사람들에게 이별 전에 추억을 선물할 수 있는 <u><strong>온라인 Ending Note</strong></u> 서비스입니다.</h2>
      <br><br>
    </div>
    <br><br>
  </div>

  <div ng-if="waitForLogging && !isLoggedIn">
    <div ng-show="waitForLogging && !isLoggedIn" class="login-block">
      <div>
        <div class="well">
          <span class="btn btn-block btn-info" ng-click="loginOauth('facebook')"><i class="fa fa-facebook"></i> 페이스북으로 로그인</span>
            <span style="color:gray;font-size:10px;">OR</span>
          <form class="form" name="loginForm" ng-submit="login(loginForm)" novalidate>
              <input type="text" name="email" placeholder="email" class="form-control" ng-model="loginUser.email">
              <input type="password" name="password" placeholder="password" class="form-control" ng-model="loginUser.password">
              <button class="btn btn-success btn-block btn-login" type="submit">
               로그인
              </button>
            <div class="form-group has-error">
              <p class="help-block" ng-show="loginForm.email.$error.required && loginForm.password.$error.required && loginSubmitted">
                 Please enter your email and password.
              </p>
              <p class="help-block">{{ loginErrors.other }}</p>
            </div>
          </form>
        </div>
        <hr>
        
        <div class="well">
          <span style="color:gray;font-size:14px;">Tidely에 처음이세요?</span>
          <form class="form" name="signupForm" ng-submit="signup(signupForm)" novalidate>
            <div class="form-group" ng-class="{ 'has-success': signupForm.email.$valid && signupSubmitted,
                                                'has-error': signupForm.email.$invalid && signupSubmitted }">
              <input type="email" name="email" placeholder="email을 입력하세요" class="form-control" ng-model="signupUser.email"
                     required
                     firebase-error/>
              <p class="help-block" ng-show="signupForm.email.$error.email && signupSubmitted">
                Doesn't look like a valid email.
              </p>
              <p class="help-block" ng-show="signupForm.email.$error.required && signupSubmitted">
                What's your email address?
              </p>
              <p class="help-block" ng-show="signupForm.email.$error.firebase">
                {{ singupErrors.email }}
              </p>
            </div>
            <div ng-class="{ 'has-success': signupForm.password.$valid && signupSubmitted,
                                                'has-error': signupForm.password.$invalid && signupSubmitted }">
              <input type="password" placeholder="password" name="password" class="form-control" ng-model="signupUser.password"
                     ng-minlength="3"
                     required
                     firebase-error/>
              <p class="help-block"
                 ng-show="(signupForm.password.$error.minlength || signupForm.password.$error.required) && signupSubmitted">
                Password must be at least 3 characters.
              </p>
              <p class="help-block" ng-show="signupForm.password.$error.mongoose">
                {{ singupErrors.password }}
              </p>
            </div>
              <button class="btn btn-success btn-block btn-login" type="submit">
                가입하기
              </button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- overview -->
  <div ng-include="'app/main/overview.html'"></div>
  <br/>

  <!-- 제작대행 -->
  <!-- <div ng-include="'app/main/album.html'"></div> -->
  <div class="container">
    <div class="block-section">
      <div class="block-title">
        <h2><strong>제작 대행</strong></h2>
      </div>
      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" ng-src="/assets/images/album.png" alt="엔딩 노트 제작 대행">
        </div>
        <div class="col-md-7">
          <div class="jumbotron" style="margin-top:40px;">
            <h2>엔딩 노트 제작 대행</h2>
            <hr>
            <p> 보관중인 앨범이나 사진을 보내주시면 <b class="text-primary">사이트 제작을 대행</b>해 드립니다.</p>
            <ul style="font-size:20px;">
              <li>집에있는 사진 및 앨범을 보내주세요.</li>
              <li>본인만의 안전한 엔딩 노트 사이트를 생성해드립니다.</li>
              <li>원하실 경우 USB/DVD에 디지털 파일을 담아 보내드립니다.</li>
            </ul>
            <button type="button" class="btn btn-lg btn-success" ui-sref="agency"><h4><img ng-src="/assets/images/doresol_logo_lightgreen.png" class="logo-image">&nbsp;제작 대행 더 알아보기</h4></button>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
  
  <!-- recent memorials -->
  <div class="container">
    <div class="block-section">
        <div class="block-title">
            <h2><strong>생성된 엔딩 노트</strong></h2>
        </div>
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search.." ng-model="recent.search">
          </div>
        </div>
        <br/>
        <div masonry item-selector=".brick-memorials" preserve-order>
          <div masonry-brick class="brick-memorials col-md-3 col-sm-6 col-xs-12" ng-repeat="(key, memorial) in recentMemorials | filter:{ name: recent.search }">
            <div class="brick-memorial-wrapper">
              <!-- <div class="ribbon-wrapper"><div class="ribbon-green">NEWS</div></div> -->
              <div class="memorial-img">
                <div ng-if="user">
                  <a ui-sref="memorial.storyline({id:memorial.$id})"><img ng-src="{{memorial.file.url}}" class="img-responsive"/>
                    <div class="overlay">
                       <i class="fa fa-5x fa-play"></i>
                    </div>
                  </a>
                </div>
                 <div ng-if="!user">
                  <!-- <span ng-click="alertLogin()"><img ng-src="{{memorial.file.url}}" class="img-responsive"/> -->
                    <a ui-sref="memorial.storyline({id:memorial.$id})"><img ng-src="{{memorial.file.url}}" class="img-responsive"/>
                    <div class="overlay">
                       <i class="fa fa-5x fa-play"></i>
                    </div>
                  </span>
                </div>
                <!-- <button ng-if="memorial.public" class="btn btn-xs btn-info" tooltip-placement="top" tooltip="공개"><i class="fa fa-unlock"></i></button>
                <button ng-if="!memorial.public" class="btn btn-xs btn-danger" tooltip-placement="top" tooltip="비공개"><i class="fa fa-lock"></i></button> -->
                <span class="memorial-header">
                  <span class="btn-public">
                    <i ng-if="memorial.public" class="fa fa-2x fa-unlock" tooltip-placement="top" tooltip="공개"></i>
                    <i ng-if="!memorial.public" class="fa fa-2x fa-lock" tooltip-placement="top" tooltip="비공개"></i>
                  </span>
                  <span class="btn-owner">
                    <i ng-if="memorial.ref_user == user.uid" class="fa fa-2x fa-heart" tooltip-placement="top" tooltip="Owner"></i>
                    <i ng-if="memorial.ref_user != user.uid" class="fa fa-2x fa-star" tooltip-placement="top" tooltip="Member"></i>
                  </span>
                </span>
              </div>
              <div class="row text-center">
                <h3><strong>{{memorial.name}}</strong></h3>
                <!-- <span ng-if="memorial.ref_user == user.uid"><i class="fa fa-heart fa-2x text-danger" tooltip-placement="left" tooltip="Owner"></i></span>
                <span ng-if="memorial.ref_user != user.uid" style="color:rgb(255, 215, 0);"><i class="fa fa-2x fa-star" tooltip-placement="left" tooltip="Member"></i></span> -->
              </div>
              <div class="row text-center">
                  <div class="col-xs-4">
                      <h3 class="widget-content-light">
                          <div ng-if="user">
                            <a ui-sref="memorial.storyline({id:memorial.$id})"><strong>{{memorial.count_timeline}}</strong><br></a>
                          </div>
                          <div ng-if="!user">
                            <a ng-click="alertLogin()"><strong>{{memorial.count_timeline}}</strong><br></a>
                          </div>
                          <small>스토리</small>
                      </h3>
                  </div>
                  <div class="col-xs-4">
                      <h3 class="widget-content-light">
                          <div ng-if="user">
                            <a ui-sref="memorial.storyline({id:memorial.$id})"><strong>{{memorial.count_storyline}}</strong><br></a>
                          </div>
                          <div ng-if="!user">
                            <a ng-click="alertLogin()"><strong>{{memorial.count_storyline}}</strong><br></a>
                          </div>
                          <small>방명록</small>
                      </h3>
                  </div>
                  <div class="col-xs-4">
                      <h3 class="widget-content-light">
                          <div ng-if="user">
                            <a ui-sref="memorial.storyline({id:memorial.$id})"><strong>{{memorial.count_member}}</strong><br></a>
                          </div>
                          <div ng-if="!user">
                            <a ng-click="alertLogin()"><strong>{{memorial.count_member}}</strong><br></a>
                          </div>
                          <small>멤버</small>
                      </h3>
                  </div>
              </div>
            </div>​
          </div>
        </div>
        <br/>
      </div>
  </div>
  
  <br/>
  <!-- <hr/>
  <div class="row">
    <div class="col-lg-6 col-xs-10 col-lg-offset-3 text-center">
      <div class="fb-like" data-href="https://www.facebook.com/doresol.net" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div> -->
  <br/>

  <div ng-include="'components/footer/footer.html'"></div>
</div>
