<div>
	<div ng-if="isOwner">
		<form name="memorialForm" ng-submit="updateMemorial(memorialForm)" novalidate>
			<!-- <tabset>
				<tab heading="heading"></tab>
			</tabset> -->
			
    	<div class="col-md-8">
    		<div class="divider"/>
    		<h3>기본 정보</h3>
	    	<div class="input-group">
				  <span class="input-group-addon">이름</span>
				  <input type="text" class="form-control" name="name" placeholder="이름을 입력하세요" ng-model="copyMemorial.name" ng-required="true">
				</div>
				<div class="alert alert-danger" role="alert"
					 ng-show="memorialForm.name.$dirty && memorialForm.name.$invalid">
					 <span ng-show="memorialForm.name.$error.required">이름을 입력해 주세요.</span>
				</div>
				<br/>

				<div class="input-group">
				  <span class="input-group-addon">태어나신 날짜</span>
				  <input type="text" class="form-control" name="dateOfBirth" placeholder="태어나신 날을 입력하세요" 
				  is-open="dateOfBirthOpened" datepicker-popup="yyyy-MM-dd" max-date="today"
				  ng-required="true" ng-model="copyMemorial.dateOfBirth"/>
				  <span class="input-group-btn">
				    <button type="button" class="btn btn-default" ng-click="openDatepicker($event,'dateOfBirthOpened')"><i class="glyphicon glyphicon-calendar text-success"></i></button>
				  </span>
				</div>
				<div class="alert alert-danger" role="alert"
					 ng-show="memorialForm.dateOfBirth.$dirty && memorialForm.dateOfBirth.$invalid">
					 <span ng-show="!memorialForm.dateOfBirth.$error.date&&memorialForm.dateOfBirth.$error.required">태어나신 날을 입력해 주세요.</span>
					 <span ng-show="memorialForm.dateOfBirth.$error.date">정확한 날짜 형식이 아닙니다.</span>
				</div>
				<br/>

				소개글
				<textarea class="form-control" ng-model="copyMemorial.description" rows="5" placeholder="소개글을 입력하세요.." style="resize: vertical;margin: 1px 0px 10px;"/>
				
				<div class="divider"/>
				<h3>결혼</h3>
				<div class="form-group">
					<label class="switch switch-success" for="val_married">
				    <input type="checkbox" id="val_married" name="val_married" ng-model="copyMemorial.wedding.married">
				    <span tooltip-placement="left" tooltip="결혼여부"></span>
				  </label>
				</div>
				<div ng-if="copyMemorial.wedding.married">
					<div class="input-group">
					  <span class="input-group-addon">배우자 이름</span>
					  <input type="text" class="form-control" name="partner_name" placeholder="이름을 입력하세요" ng-model="copyMemorial.wedding.partner">
					</div>
					<br/>

					<div class="input-group">
					  <span class="input-group-addon">결혼 날짜</span>
					  <input type="text" class="form-control" name="dateOfWedding" placeholder="결혼하신 날짜를 입력하세요" 
					  is-open="dateOfWeddingOpened" datepicker-popup="yyyy-MM-dd" max-date="today"
					  ng-model="copyMemorial.wedding.dateOfWedding"/>
					  <span class="input-group-btn">
					    <button type="button" class="btn btn-default" ng-click="openDatepicker($event,'dateOfWeddingOpened')"><i class="glyphicon glyphicon-calendar text-success"></i></button>
					  </span>
					</div>

				</div>

				<!-- School  -->
				<div class="divider"/>
				<h3>학교</h3>

				<!-- School List -->
				<div ng-if="copyMemorial.school">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									이름
								</th>
								<th>
								  기간
								</th>
								<th>
									설명
								</th>
								<th></th>
							</tr>
						</thead>
							<tbody>
							<tr ng-repeat="(key, school) in copyMemorial.school">
								<td>
									{{school.name}}
								</td>
								<td>
									{{school.from}} <span ng-if="school.end">-</span> {{school.end}}
								</td>
								<td>
									{{school.description}}
								</td>
								<td>
									<i class="cursor fa fa-times-circle-o fa-2x text-danger" ng-click="removeItemFromArray(key,copyMemorial.school)"></i>
								</td>
							</tr>
						</tbody>
					</table>
					<br/>
				</div>

				<button type="button" class="btn btn-default" ng-click="toggleAddNewSchoolFlag()">
				  <i class="fa fa-plus-square-o"></i> New 
				</button>
				<br/><br/>

				<!-- new school -->
				<div class="well" ng-if="addNewSchoolFlag">
					<div class="form-group">
						<label class="col-md-3 control-label" for="new-school-name">학교 이름</label>
						<div class="col-md-9">
							<input type="text" id="new-school-name" name="new-school-name" class="form-control" ng-model="newSchool.name">
						</div>
					</div>
					<br/>

					<div class="form-group">
						<label class="col-md-3 control-label">기간</label>
						<div class="col-md-9">
							<input type="number" class="form-control" name="dateOfNewSchoolStart" min="1900" ng-model="newSchool.from" placeholder="시작연도"/>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-3">
						<input type="number" class="form-control" name="dateOfNewSchoolEnd" min="1900" ng-model="newSchool.end" placeholder="종료연도"/>
					</div>
					<br/>

					<div class="form-group">
						<label class="col-md-3 control-label" for="new-school-description">추가 정보</label>
						<div class="col-md-9">
							<input type="text" id="new-school-description" name="new-school-description" class="form-control" ng-model="newSchool.description">
						</div>
					</div>
					<br/>

					<div>
						<button type="button" class="btn btn-success" ng-disabled="!newSchool.name" ng-click="addNewSchool()">
						  Add 
						</button>
					</div>
				</div>


				<div class="divider"/>
				<h3>공개 설정</h3>
				<div class="form-group">
					<label class="switch switch-success" for="val_public">
				    <input type="checkbox" id="val_public" name="val_public" ng-model="copyMemorial.public">
				    <span tooltip-placement="left" tooltip="공개설정"></span>
				  </label>
				</div>
				<label ng-if="copyMemorial.public" class="public-label"> 현재 공개 상태 입니다.</label>
        <label ng-if="!copyMemorial.public" class="public-label"> 현재 비공개 상태 입니다.</label>
        <div class="divider"/>
			</div>

		  <div class="col-md-12">
				<button type="submit" class="btn btn-lg btn-success" ng-disabled="fileUploading||memorialForm.$invalid">프로필 저장</button>		  
				<br/>
				<p>{{message}}</p>
			</div>
		</form>

	</div>

	<div ng-if="!isOwner">
		<ul class="list-group">
		  <li class="list-group-item">이름: {{memorial.name}}</li>
		  <li class="list-group-item">태어나신 날: {{memorial.dateOfBirth}}</li>
		  <!-- <li class="list-group-item">돌아가신 날: {{memorial.dateOfDeath}}</li> -->
		</ul>
	</div>
</div>