/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    SuperBox
\*------------------------------------*/
/* SuperBox */
.superbox-list {
	display:inline-block;
	*display:inline;
	zoom:1;
	/*width:12.5%;*/
}
.superbox-img {
	max-width:100%;
	width:100%;
	cursor:pointer;
}
.superbox-show {
	text-align:center;
	position:relative;
	background:#333;
	box-shadow:inset 0 1px 5px #111;
	-webkit-box-shadow:inset 0 1px 5px #111;
	-moz-box-shadow:inset 0 1px 5px #111;
	width:100%;
    float:left;
	padding:25px;
	display:none;
}
.superbox-current-img {
	max-width:100%;
	box-shadow:0 1px 4px #222;
	border:1px solid #222;
}
.superbox-img:hover {
	opacity:0.8;
}
.superbox-float {
	float:left;
}
.superbox-close {
	opacity:0.7;
	cursor:pointer;
	position:absolute;
	top:25px;
	right:25px;
	background:url(../img/close.gif) no-repeat center center;
	width:35px;
	height:35px;
}
.superbox-close:hover {
	opacity:1;
}
/*
@media only screen and (min-width: 320px) {
	.superbox-list {
		width:50%;
	}
}
@media only screen and (min-width: 486px) {
	.superbox-list {
		width:25%;
	}
}
@media only screen and (min-width: 768px) {
	.superbox-list {
		width:16.66666667%;
	}
}
@media only screen and (min-width: 1025px) {
	.superbox-list {
		width:12.5%;
	}
}*/