/*
	Some basic styling
*/



.slidegroup {
	position:relative;
	background-image: url("/assets/images/dark_wood.png");
	/*background-image: url("/assets/images/bg_old_paper.jpg");*/
	width: 100%;
	height: 650px;
	overflow: hidden;
	margin: 0px auto 0px;
}

.slideshow {
	position: absolute; 
	width:100%; 
	height:650px;
}

.blur1 {
	/* position */
	position: absolute;
	left: 5%;
	top: 5%;

	/* blur */
	width:500px; 
	height:400px; 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px); 

	/* rotate */
	-ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);

   border-style: solid;
   border-width: 12px;
   border-color: white;
}

.blur2 { 
	position: absolute;
	left: 50%;
	top: 5%;

	width:500px; 
	height:400px; 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px); 

	-ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);

   border-style: solid;
   border-width: 12px;
   border-color: white;

}

.blur3 { 
	position: absolute;
	left: 5%;
	top: 500px;

	width:500px; 
	height:400px; 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px); 

	-ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);

   border-style: solid;
   border-width: 12px;
   border-color: white;

}

.blur4 { 
	position: absolute;
	left: 50%;
	top:  500px;

	width:500px; 
	height:400px;  
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px); 

	-ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);

   border-style: solid;
   border-width: 12px;
   border-color: white;
}

.item {
	display:none;
}

.item-horizontal {
	display:block;
	position: absolute;
	left: 20%;
	top: 9%;

	width: 60%;

	border-style: solid;
	border-width: 12px;
	border-color: white;
}

.item-vertical {
	display:block;
	position: absolute;
	left: 32%;
	top: 7%;

	width:36%;
	/*height: 80%;*/

	border-style: solid;
	border-width: 12px;
	border-color: white;
}

.rotate_left {
	-ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);		
}

.rotate_right {
	-ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
  transform: rotate(5deg);		
}

.slidegroup {
  margin-bottom: 10px;

  .overlay {
    /*width:300px;
    height:300px;*/
    width:20%;
    height:20%;
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: transparent;
    display:none;
    /*margin-top:10px;*/
  }

  .overlay_detail{
      opacity:1;
      color:white;
  }
}

.slidegroup:hover .overlay{
  display: block;
}

.brick-stories{
	margin-bottom:10px;
}

.brick-stories:hover{
	cursor: pointer;
	opacity: 0.8;
}

.image-modal-wrapper:hover{
	cursor: pointer;
	opacity:0.8;
}

.btn-story:hover {
  background-color: #27ae60;
  color:white;
}

.menu_active {
	background-color: #27ae60;
  color:white;
}