

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container contents">  
  <div class="col-md-2">
    <div>
      <div>
        <a disabled>
          <img ng-src="{{memorial.file.url}}" class="img-responsive hover-opacity-8"/>
        </a>
      </div>
    </div>
    <div class="text-center" style="clear:both;">
      <h3> {{memorial.name}} </h3>    
    </div>
    <ul class="nav nav-pills nav-stacked" role="tablist" >
      <li><a disabled style="color:gray;"><i class="fa fa-road"></i> 이야기</a></li>
      <li><a disabled style="color:gray;"><i class="fa fa-comment"></i> 하고싶은 말</a></li>
      <li><a disabled style="color:gray;"><i class="fa fa-users"></i> 함께하는 분들</a></li>
    </ul>
  </div>

  <div class="col-md-10">
    <ul class="list-group">
      <li class="list-group-item">이름: {{memorial.name}}</li>
      <li class="list-group-item">태어나신 날: {{memorial.dateOfBirth}}</li>
    </ul>
    <div class="well">
      선택하신 엔딩 노트를 확인하기 위해서는 관리자의 승인이 필요합니다.<br>
      아래 요청을 누르시면 관리자에게 승인 요청이 가며, 향후 승인 시에 연락을 받으실 수 있습니다.<br>
      이미 요청을 하신 분이면, 관리자가 승인 하기 전에 요청 취소를 할 수 있습니다.
    </div>
    <button ng-if="memorial.waitings[currentUser.uid]" class="btn btn-success" ng-click="cancel()">요청 취소하기
    <button ng-if="!memorial.waitings[currentUser.uid]" class="btn btn-success" ng-click="accept()">가입 요청하기
  </div>

</div>
    
      
<div ng-include="'components/footer/footer.html'"></div>