.profile-img-upload-btn{
	position: relative;
	top: -35px;
	color:gray;
}

.public-label{
	position:relative;
	top:-10px;
}

.profile-img-empty{
	height:300px;
	border:1px dotted gray;
}

.divider{
	border-bottom: 1px dotted #dddddd;
	margin: 20px 0px 20px 0px;
}